
<div class="main-content">

  <div class="left-content">
    <%= @info.name %>
      <p></p>

   <%= image_tag(@info.image_url, :size => "300x300" ) %>

    <% if user_signed_in? %>
      <div class="inputtext">
        <%= form_for [@info, @review] do |f| %>
          <%= f.text_area :text, :size => "40x5" %>
          <br>
          <%= f.submit '投稿' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="right-content">
    <ul>
    <% @reviews.each do |review| %>
      <li>
      <pre><%= review.text %></pre>
      </li>
    <% end %>
    </ul>
  </div>
</div>
