<!DOCTYPE html>
<html>
<head>
  <title>Flosta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <div class="page-header">
    <h1>フラスタ情報 <small>***</small></h1>
  </div>
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/shops">Home</a></li>
    <% if user_signed_in? %>
      <li role="presentation"><%= link_to 'ログアウト', "/users/sign_out", method: :delete %>
    <% else %>
      <li role="presentation"><a href="/users/sign_in">ログイン</a></li>
    <% end %>
  </ul>

</head>
<body>

<%= yield %>

</body>
</html>
